 <div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>I'm a developer &amp;  living in Delhi, India.</p>
			<p>By day I work as rails back-end dev/ developer at Daffodil Software &amp; by night I try to find something interesting on which I can work on, you can share me one to.</p>
		</div>
		<div class="col-2  homepage_content">
			<h2>Stuff I've Written</h2>
			<hr>
			<% @posts.each do |post|%>
				<h3><a href="#"><%= link_to post.title,post%></a></h3>
				<p class ="date"><%= post.created_at.strftime("%A, %b %d")%></p>
			<%end%>
		</div>		
		<div class="col-3 homepage_content">
			<h2>Interesting Stuffs</h2>
			<hr>
			<% @quotes.each do |quote|%>
				<h3><a href="#"><%= link_to quote.title,quote%></a></h3>
				<p class ="date"><%= quote.created_at.strftime("%A, %b %d")%></p>
			<%end%>
		</div>
	</div>